pkgbase = qtk
	pkgdesc = random qol stuff
	pkgver = nya
	pkgrel = 1
	url = https://github.com/qsqcqs/qtk
	arch = x86_64
	license = GPL-3.0-or-later
	depends = python3
	source = https://github.com/qsqcqs/qtk/archive/refs/tags/nya-1.tar.gz
	sha256sums = 894fc24f16093e6e58acaa2e78711a782349da9dff6a7d4df5cdf29a52bfed43

pkgname = qtk
